/* ------------- font -------------- */
@font-face {
  font-family: 'PTSerifRegular';
  src: url('../fonts/PTSerif/PTF55F_W.eot');
  src: url('../fonts/PTSerif/PTF55F_W.eot?#iefix') format('embedded-opentype'),
       url('../fonts/PTSerif/PTF55F_W.woff') format('woff'),
       url('../fonts/PTSerif/PTF55F_W.ttf') format('truetype'),
       url('../fonts/PTSerif/PTF55F_W.svg#PTSerif-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PTSerifItalic';
  src: url('../fonts/PTSerif/PTF56F_W.eot');
  src: url('../fonts/PTSerif/PTF56F_W.eot?#iefix') format('embedded-opentype'),
       url('../fonts/PTSerif/PTF56F_W.woff') format('woff'),
       url('../fonts/PTSerif/PTF56F_W.ttf') format('truetype'),
       url('../fonts/PTSerif/PTF56F_W.svg#PTSerif-Italic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PTSerifBold';
  src: url('../fonts/PTSerif/PTF75F_W.eot');
  src: url('../fonts/PTSerif/PTF75F_W.eot?#iefix') format('embedded-opentype'),
       url('../fonts/PTSerif/PTF75F_W.woff') format('woff'),
       url('../fonts/PTSerif/PTF75F_W.ttf') format('truetype'),
       url('../fonts/PTSerif/PTF75F_W.svg#PTSerif-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PTSerifBoldItalic';
  src: url('../fonts/PTSerif/PTF76F_W.eot');
  src: url('../fonts/PTSerif/PTF76F_W.eot?#iefix') format('embedded-opentype'),
       url('../fonts/PTSerif/PTF76F_W.woff') format('woff'),
       url('../fonts/PTSerif/PTF76F_W.ttf') format('truetype'),
       url('../fonts/PTSerif/PTF76F_W.svg#PTSerif-BoldItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* ------------- font -------------- */