/* ------------- text -------------- */
h1               { font: normal 50px/1.5em 'PTSerifRegular', 'Times New Roman', serif; color: #292b33; }

h2               { font: normal 28px/1.5em 'PTSerifRegular', 'Times New Roman', serif; color: #292b33; }
h2 + h3          { margin-top: 5px; }
h2 + h4          { margin-top: 9px; }
h2 + h5          { margin-top: 11px; }
h2 + h6,
h2 + p,
h2 + ol,
h2 + ul,
h2 + li          { margin-top: 16px; }
h2 + .spanbaton,
h2 + input,
h2 + textarea    { margin-top: 30px; }
.spanbaton + h2,
input + h2,
textarea + h2    { margin-top: 52px; }
h2 + h2          { margin-top: 42px; }

h3               { font: normal 24px/1.5em 'PTSerifRegular', 'Times New Roman', serif; color: #292b33; }
h3 + h4          { margin-top: 4px; }
h3 + h5          { margin-top: 7px; }
h3 + h6,
h3 + p,
h3 + ol,
h3 + ul,
h3 + li          { margin-top: 12px; }
h3 + .spanbaton,
h3 + input,
h3 + textarea    { margin-top: 26px; }
.spanbaton + h3,
input + h3,
textarea + h3    { margin-top: 46px; }
h3 + h2          { margin-top: 43px; }
h3 + h3          { margin-top: 36px; }

h4               { font: normal 20px/1.5em 'PTSerifRegular', 'Times New Roman', serif; color: #292b33; }
h4 + h5          { margin-top: 2px; }
h4 + h6,
h4 + p,
h4 + ol,
h4 + ul,
h4 + li          { margin-top: 7px; }
h4 + .spanbaton,
h4 + input,
h4 + textarea    { margin-top: 19px; }
.spanbaton + h4,
input + h4,
textarea + h4    { margin-top: 39px; }
h4 + h2          { margin-top: 45px; }
h4 + h3          { margin-top: 38px; }
h4 + h4          { margin-top: 30px; }

h5               { font: normal 18px/1.5em 'PTSerifRegular', 'Times New Roman', serif; color: #525666; }
h5 + h6,
h5 + p,
h5 + ol,
h5 + ul,
h5 + li          { margin-top: 5px; }
h5 + .spanbaton,
h5 + input,
h5 + textarea    { margin-top: 17px; }
.spanbaton + h5,
input + h5,
textarea + h5    { margin-top: 35px; }
h5 + h2          { margin-top: 46px; }
h5 + h3          { margin-top: 39px; }
h5 + h4          { margin-top: 31px; }
h5 + h5          { margin-top: 27px; }

h6               { font: normal 14px/1.5em 'Helvetica Neue', 'Arial', sans-serif; color: #f40; }
h6  + .spanbaton,
h6  + input,
h6  + textarea   { margin-top: 8px; }
.spanbaton + h6,
input + h6,
textarea + h6    { margin-top: 24px; }

p                { font: normal 14px/1.5em 'Helvetica Neue', 'Arial', sans-serif; color: #3d404d; }
p   + h2,
h6  + h2,
ol  + h2,
ul  + h2,
li  + h2         { margin-top: 47px; }
p   + h3,
h6  + h3,
ol  + h3,
ul  + h3,
li  + h3         { margin-top: 40px; }
p   + h4,
h6  + h4,
ol  + h4,
ul  + h4,
li  + h4         { margin-top: 32px; }
p   + h5,
h6  + h5,
ol  + h5,
ul  + h5,
li  + h5         { margin-top: 28px; }
p   + p,
p   + h6,
h6  + h6,
ol  + h6,
ul  + h6,
li  + h6         { margin-top: 21px; }
p   + .spanbaton,
p   + input,
p   + textarea,
.spanbaton + p,
input + p,
textarea + p     { margin-top: 6px; }

h1,
h2,
h3,
h4,
h5,
h6,
p                { margin: 0; padding: 0 30px 0 0; }

a,
a:visited        { color: #1e90ff; text-decoration: none; }
a:hover,
a:active,
a:focus          { color: #f33; }
acronym,
acronym:visited  { border-bottom: 1px dotted #fff; cursor: help; }
acronym:hover,
acronym:active,
acronym:focus    { border-bottom: 1px dotted #fff; cursor: help; }

a[href*="wikipedia.org"]               { color: #1e90ff; }
a[href*="wikipedia.org"]:hover         { color: #f33; }
a[href*="wikipedia.org"]::before       { content: ""; top: 1px; margin: 0 0 0 3px; padding: 0px 10px 0px 10px; background-image: url('../img/wiki.png'); background-position: top; background-size: cover; position: relative; }
a[href*="wikipedia.org"]:hover::before { background-image: url('../img/wiki.png'); background-position: bottom; }

ol,
ul,
li         { color: #999; margin: 0; padding: 0; }
li         { font-family: 'Helvetica Neue', 'Arial', sans-serif; font-size: 14px; line-height: 1.5; }
li p       { color: #4d4d4d; margin: 0; padding: 0; }
li p + pre { margin-top: 4px; }

#content ol,
#content ul { list-style-position: inside; }

pre         { font-size: 12px; color: #3d404d; line-height: 1.5; overflow: auto;}
pre         { width: 100%; background: #f2f3f7; padding: 10px; border-radius: 8px; border: 1px solid #f2f3f7;}
pre:hover   { background: #fff; border: 1px solid #abb1b8;}
pre span    { color: #abb1b8;}
pre span.a  { color: #1e90ff;}
pre span.s,
p span.s    { color: #e88501;}
pre span.n  { color: #009945;}
pre span.f  { color: #e60; font-weight: bold;}
pre span.p  { color: #8757ad;}
pre span.v  { color: #4671be;}
span.pre    { font-family: monospace; color: #000; padding: 1px 2px; background: #f7f6f0; border-bottom: 1px solid #fff; border-radius: 5px;}
span.pre:hover { padding: 2px 2px; background: #faf064; border-bottom: 1px solid #e0da87; cursor: none; }

p + pre,
h6 + pre         { margin-top: 2px; }
h5 + pre         { margin-top: 7px; }
h4 + pre         { margin-top: 9px; }
h3 + pre         { margin-top: 13px; }
h2 + pre         { margin-top: 18px; }
pre + h2         { margin-top: 48px; }
pre + h3         { margin-top: 41px; }
pre + h4         { margin-top: 33px; }
pre + h5         { margin-top: 29px; }
pre + h6,
pre + p          { margin-top: 22px; }
pre + pre        { margin-top: 18px; }
/* ------------- text -------------- */

/* ------------- body -------------- */
html,
body  { width: 100%; margin: 0px auto; padding: 0px; }

html,
body,
input {
  -moz-osx-font-smoothing: grayscale;
   -webkit-font-smoothing: antialiased;
      -moz-font-smoothing: antialiased;
       -ms-font-smoothing: antialiased;
        -o-font-smoothing: antialiased;
           font-smoothing: antialiased;
}

header,
main,
section,
hgroup,
footer,
aside,
nav,
article           { display: block; }
article + article { margin-top: 52px; }
/* ------------- body -------------- */

/* ------------- modal -------------- */
#modal_overlay { width: 100%; height: 100%; background-color: #45494d; opacity: 0; visibility: hidden; z-index: 999; position: fixed; }
#alert { width: 400px; height: 247px; top: calc(50% - 123.5px); left: calc(50% - 200px); margin: 0; background-color: #fff; border-radius: 8px; box-shadow: 0px 10px 50px -18px #45494d; opacity: 0; visibility: visible; z-index: 1000; position: fixed;}
#alertContent { width: 100%; height: 190px; margin: 0; padding: 0; border-bottom: 1px solid #d5dde5; position: relative; }
#alertContent,
#alertContent p,
pre {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
       -o-box-sizing: border-box;
          box-sizing: border-box;
}
#alertContent p { width: 100%; text-align: center; vertical-align: middle; top: 45%; margin: 0 auto; padding: 0 10px; position: absolute; }
#alertOk { font: bold normal 16px/3.4em 'Helvetica Neue', 'Arial', sans-serif; color: #292b33 ; width: 100%; text-align: center; height: 56px; cursor: pointer; }
/* ------------- modal -------------- */

/* ------------- header -------------- */
header {
  width: 100%;
  height: 350px;
  margin: 0 auto;
  top: 0;
  position: relative;
  background-image: url(../img/bg/bg_1.jpg);
  background-size: cover;
  background-position: center center;
  text-align: center;
}

header div:nth-child(1) div {
  max-width: 980px;
  min-width: 300px;
  margin: 0 auto;
  padding: 0;
  box-shadow: none;
  position: relative;
}

header div:nth-child(1) {
  width: 100%;
  height: 70px;
  background: #fff;
  border-bottom: 1px solid #d5dde5;
  margin: 0 auto;
  padding: 0;
  top: 0;
  z-index: 10;
  position: fixed;
}

header div:nth-child(2),
header div:nth-child(3) {
  width: 100%;
  height: 100%;
  top: 0;
  margin: 0 auto;
  padding: 0px;
  position: absolute;
}

#ava {
  font: normal 50px/1.4em 'PTSerifBold', 'Times New Roman', serif;
  color: #333;
  text-align: left;
  margin: 0;
  padding: 0;
  left: 10px;
  z-index: 10;
  cursor: pointer;
  position: absolute;
}

#bgTone {
  width: 100%;
  height: 100%;
  top: 0;
  background: #001626;
  opacity: .3;
  position: absolute;
}

#headButGo,
#headButBack,
#headButGo:visited,
#headButBack:visited {
  font: normal 14px/1em 'Helvetica Neue', 'Arial', sans-serif;
  text-align: center;
  color: #333;
  background: #fff;
  border: 1px solid #bec4cc;
  text-decoration: none;
  top: 19px;
  right: 10px;
  margin: 0;
  padding: 8px 25px;
  border-radius: 6px;
  display: inline-block;
  z-index: 10;
  cursor: pointer;
  position: absolute;
}

#headButGo:hover,
#headButGo:active,
#headButGo:focus,
#headButBack:hover,
#headButBack:active,
#headButBack:focus  { border: 1px solid #82878c; }
#headButBack        { display: none; }

header h1:nth-child(2)         { color: #fcc; text-align: center; padding: 0; top: 150px; z-index: 1; position: relative; }
header h1:nth-child(2) a       { color: #e5ceb8;}
header h1:nth-child(2) a:hover { color: #fff;}
header h5:nth-child(3)         { color: #fff; text-align: center; padding: 0; top: 160px; z-index: 1; position: relative; }
header div:nth-child(4)        { width: 600px; top: -800px; margin: 0 auto; opacity: 0; position: relative; z-index: 1; }
header div:nth-child(4) > p    { font-size: 14px; color: #fff; text-align: left; padding-right: 0; }

header div:nth-child(1) a span.spanbaton {
  font-size: 14px;
  font-weight: normal;
  color: #333;
  border: 1px solid #fff;
  top: 19px;
  right: 149px;
  margin: 0;
  padding: 1px 15px;
  background: #fff;
  display: inline-block;
  position: absolute;
}
header div:nth-child(1) a span.spanbaton:hover { border: 1px solid #bec4cc; }
/* ------------- header -------------- */

/* ------------- content -------------- */
#wrapper {
  width: 980px;
  margin: 0 auto;
  padding: 0 10px;
}

#content {
  width: 640px;
  top: 53px;
  margin: 0;
  padding: 0;
  float: left;
  position: relative;
}

#sideblock {
  width: 300px;
  top: 53px;
  margin: 0;
  padding: 0;
  float: right;
  position: relative;
}
#sideblock ol li > pre { margin-bottom: 23px; }

.spanbaton,
input[type="button"] {
  font: normal 14px/2em 'Helvetica Neue', 'Arial', sans-serif;
  color: #fff;
  text-align: center;
  margin-right: 10px;
  padding: 1px 13px;
  background: #1e90ff;
  border: 0;
  border-radius: 5px;
  outline: none;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
       -o-user-select: none;
          user-select: none;
}
input[type="button"].cancel {
  font: normal 14px/2em 'Helvetica Neue', 'Arial', sans-serif;
  color: #333;
  text-align: center;
  margin-right: 10px;
  padding: 1px 13px;
  background: #fff;
  border: 1px solid #bec4cc;
  border-radius: 5px;
  outline: none;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
       -o-user-select: none;
          user-select: none;
}
input[type="button"].cancel:hover {
  color: #f33;
  background: #fff;
  border: 1px solid #f33;
}

.spanbaton:hover,
input[type="button"]:hover { background: #f33; color: #fff; }

input[type="text"]         { width: 200px; height: 23px; margin-right: 12px; padding: 2px 8px 3px 8px; }
textarea                   { line-height: 1.5; width: 97%; height: 100px; padding: 3px 8px; }
input[type="text"],
textarea                   { font-size: 14px; background: #fff; border: 1px solid #bec4cc; border-radius: 5px; outline: none; }
input[type="text"]:hover,
textarea:hover             { border: 1px solid #82878c; outline: none; }
input[type="text"]:focus,
textarea:focus             { background: #f7f9fc; border: 1px solid #82878c; box-shadow: inset 0 1px 2px -1px #82878c; outline: none; }

input[disabled],
input[disabled]:hover,
input[disabled]:focus,
textarea[disabled],
textarea[disabled]:hover,
textarea[disabled]:focus { border: 1px #fff solid; background: #fff; resize: none;  }

input + textarea,
input + .spanbaton,
textarea + input,
textarea + .spanbaton,
.spanbaton + input,
.spanbaton + textarea { margin-top: 8px; }

input,
textarea {
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
      -ms-appearance: none;
       -o-appearance: none;
          appearance: none;
}

div#loaderH2                    { display: inline; position: relative; }
div#loaderH2 h2                 { color: #ccd4db; margin-bottom: 42px; }
span#loader                     { width: 40px; height: 26px; margin: 8px 0 0 0; padding: 0; position: absolute; }
span#loader > span              { width: 8px; height: 100%; margin: 0; padding: 0; background: #d5dde5; border-radius: 3px; position: absolute; }
span#loader span:nth-of-type(1) {
  margin-left: 0px;
  -webkit-animation: loader 450ms infinite alternate ease-in both 600ms;
     -moz-animation: loader 450ms infinite alternate ease-in both 600ms;
      -ms-animation: loader 450ms infinite alternate ease-in both 600ms;
       -o-animation: loader 450ms infinite alternate ease-in both 600ms;
          animation: loader 450ms infinite alternate ease-in both 600ms;
}
span#loader span:nth-of-type(2) {
  margin-left: 12px;
  -webkit-animation: loader 500ms infinite alternate ease-in both 0s;
     -moz-animation: loader 500ms infinite alternate ease-in both 0s;
      -ms-animation: loader 500ms infinite alternate ease-in both 0s;
       -o-animation: loader 500ms infinite alternate ease-in both 0s;
          animation: loader 500ms infinite alternate ease-in both 0s;
}
span#loader span:nth-of-type(3) {
  margin-left: 24px;
  -webkit-animation: loader 400ms infinite alternate ease-in both 800ms;
     -moz-animation: loader 400ms infinite alternate ease-in both 800ms;
      -ms-animation: loader 400ms infinite alternate ease-in both 800ms;
       -o-animation: loader 400ms infinite alternate ease-in both 800ms;
          animation: loader 400ms infinite alternate ease-in both 800ms;
}
/* Анимация для лоадера */
@-webkit-keyframes loader {
  from { opacity: .5; height: 10px; margin-top: 8px; }
  to   { opacity: 1; height: 100%; margin-top: 0; }
}

@-moz-keyframes loader {
  from { opacity: .5; height: 10px; margin-top: 8px; }
  to   { opacity: 1; height: 100%; margin-top: 0; }
}

@-ms-keyframes loader {
  from { opacity: .5; height: 10px; margin-top: 8px; }
  to   { opacity: 1; height: 100%; margin-top: 0; }
}

@-o-keyframes loader {
  from { opacity: .5; height: 10px; margin-top: 8px; }
  to   { opacity: 1; height: 100%; margin-top: 0; }
}

@keyframes loader {
  from { opacity: .5; height: 10px; margin-top: 8px; }
  to   { opacity: 1; height: 100%; margin-top: 0; }
}
/* Анимация для лоадера */
/* ------------- content -------------- */

/* ------------- footer -------------- */
div.navigation               { width: 100%; height: 20px; margin: 50px 0; position: relative; }
div.navigation p             { padding: 0; position: absolute; }
div.navigation p:first-child { float: left; left: 0; }
div.navigation p:last-child  { clear: right; right: 0; }
div.navigation p + p         { margin-top: 0; }

footer { width: 100%; top: 100px; padding: 50px 0; border-top: 1px #d5dde5 solid; clear: both; position: relative; }

.ya-share2 {
  margin-bottom: 20px;
}
/*div.yashare-auto-init.b-share_theme_counter { clear: left; margin-left: -3px; padding: 0 0 4px 0; }
.b-share-counter { line-height: 28px !important; text-align: right !important; float: none !important; margin: 3px 10px 3px 0px !important; display: block !important; }
.b-share_theme_counter .b-share-btn__wrap { margin-right: 5px !important; }
.b-share_theme_counter .b-share__handle { height: 34px !important; }
.b-share_theme_counter .b-share__link { width: 100px !important; border-radius: 5px !important;}
.b-share_theme_counter .b-share-icon { width: 38px !important; height: 34px !important; background-size: cover !important; background-image: url("http://strash.ru/img/assets/share_logotypes_spryte.png") !important; }
.b-share_theme_counter .b-share-icon_twitter { background-position:0 -34px !important;}
.b-share_theme_counter .b-share-icon_vkontakte { background-position:0 -68px !important;}
.b-share_theme_counter .b-share-icon_gplus { background-position:0 -102px !important;}
.b-share_theme_counter .b-share-btn__facebook { background-color: #3b5998 !important; }
.b-share_theme_counter .b-share-btn__twitter { background-color: #55acee !important; }
.b-share_theme_counter .b-share-btn__vkontakte { background-color: #4d75a3 !important; }
.b-share_theme_counter .b-share-btn__gplus { background-color: #cc3732 !important; }
.b-share_theme_counter .b-share-btn__facebook:hover { background-color: #5077cc !important; }
.b-share_theme_counter .b-share-btn__twitter:hover { background-color: #73c2ff !important; }
.b-share_theme_counter .b-share-btn__vkontakte:hover { background-color: #659ad6 !important; }
.b-share_theme_counter .b-share-btn__gplus:hover { background-color: #f75c57 !important; }
.b-share_theme_counter .b-share-btn__facebook:active { border-top: none !important; }
.b-share_theme_counter .b-share-btn__twitter:active { border-top: none !important; }
.b-share_theme_counter .b-share-btn__vkontakte:active { border-top: none !important; }
.b-share_theme_counter .b-share-btn__gplus:active { border-top: none !important; }*/
/* ------------- footer -------------- */

/* ------------- изинги -------------- */
#bgTone,
header,
header h1:nth-child(2),
header h5:nth-child(3),
header div:nth-child(4) {
  -webkit-transition: all 800ms cubic-bezier(0.8, 0.1, 0.2, 1.0);
     -moz-transition: all 800ms cubic-bezier(0.8, 0.1, 0.2, 1.0);
      -ms-transition: all 800ms cubic-bezier(0.8, 0.1, 0.2, 1.0);
       -o-transition: all 800ms cubic-bezier(0.8, 0.1, 0.2, 1.0);
          transition: all 800ms cubic-bezier(0.8, 0.1, 0.2, 1.0);
}

.b-share_theme_counter .b-share-btn__facebook,
.b-share_theme_counter .b-share-btn__twitter,
.b-share_theme_counter .b-share-btn__vkontakte,
.b-share_theme_counter .b-share-btn__gplus {
  -webkit-transition: background-color 150ms linear;
     -moz-transition: background-color 150ms linear;
      -ms-transition: background-color 150ms linear;
       -o-transition: background-color 150ms linear;
          transition: background-color 150ms linear;
}

#ava,
#headButGo,
#headButBack,
pre,
.spanbaton,
input,
textarea,
span.pre,
body,
a{
  -webkit-transition: all 100ms linear;
     -moz-transition: all 100ms linear;
      -ms-transition: all 100ms linear;
       -o-transition: all 100ms linear;
          transition: all 100ms linear;
}

#modal_overlay,
#alert {
  -webkit-transition: all 50ms ease-out;
     -moz-transition: all 50ms ease-out;
      -ms-transition: all 50ms ease-out;
       -o-transition: all 50ms ease-out;
          transition: all 50ms ease-out;
}

/* ------------- изинги -------------- */

/* ------------- media queries -------------- */
@media all and (orientation: portrait) and (max-width: 980px) {
  html,
  body { width: 100vw; }
}

@media all and (orientation: landscape) and (max-width: 1024px) {
  html,
  body { width: 100vw; }
}

@media all and (orientation: portrait) and (max-width: 320px) {
  html,
  body { width: 100vw; }
}

@media all and (orientation: landscape) and (max-width: 480px) {
  html,
  body { width: 100vw; }
}
/* ------------- media queries -------------- */

/* ------------- temp -------------- */
#baton1 { visibility: visible; }
#baton2 { visibility: hidden; }
/* ------------- temp -------------- */