/* ------------- body -------------- */
html,
body  { width: 100%; margin: 0px auto; padding: 0px; }
html,
body,
input {
  -moz-osx-font-smoothing: grayscale;
   -webkit-font-smoothing: antialiased;
      -moz-font-smoothing: antialiased;
       -ms-font-smoothing: antialiased;
        -o-font-smoothing: antialiased;
           font-smoothing: antialiased;
}

header,
section,
footer,
aside,
nav,
article           { display: block; }
article + article { margin-top: 52px; }
/* ------------- body -------------- */

/* ------------- text -------------- */
h1        { font: normal 50px/1.5em 'PTSerifRegular' 'Times New Roman' serif; color: #332929; }

h2        { font: normal 28px/1.5em 'PTSerifRegular' 'Times New Roman' serif; color: #332929; }
h2 + h3   { margin-top: 5px; }
h2 + h4   { margin-top: 9px; }
h2 + h5   { margin-top: 11px; }
h2 + h6,
h2 + p,
h2 + ul,
h2 + li   { margin-top: 16px; }
a + h2    { margin-top: 150px; }
h2 + h2   { margin-top: 42px; }

h3        { font: normal 24px/1.5em 'PTSerifRegular' 'Times New Roman' serif; color: #332929; }
h3 + h4   { margin-top: 4px; }
h3 + h5   { margin-top: 7px; }
h3 + h6,
h3 + p,
h3 + ul,
h3 + li   { margin-top: 12px; }
h3 + h2   { margin-top: 43px; }
h3 + h3   { margin-top: 36px; }

h4        { font: normal 22px/1.5em 'PTSerifRegular' 'Times New Roman' serif; color: #696969; }
h4 + h5   { margin-top: 2px; }
h4 + h6,
h4 + p,
h4 + ul,
h4 + li   { margin-top: 7px; }
h4 + h2   { margin-top: 45px; }
h4 + h3   { margin-top: 38px; }
h4 + h4   { margin-top: 30px; }

h5        { font: normal 18px/1.5em 'PTSerifRegular' 'Times New Roman' serif; color: #696969; }
h5 + h6,
h5 + p,
h5 + ul,
h5 + li   { margin-top: 5px; }
h5 + h2   { margin-top: 46px; }
h5 + h3   { margin-top: 39px; }
h5 + h4   { margin-top: 31px; }
h5 + h5   { margin-top: 27px; }

h6        { font: normal 14px/1.5em 'PTSerifItalic' 'Arial' sans-serif; color: #888; top: -60px; position: relative; }

p         { font: normal 16px/1.5em 'Helvetica Neue' 'Arial' sans-serif; color: #4d4d4d; }
p   + h2,
h6  + h2,
ul  + h2,
li  + h2  { margin-top: 47px; }
p   + h3,
h6  + h3,
ul  + h3,
li  + h3  { margin-top: 40px; }
p   + h4,
h6  + h4,
ul  + h4,
li  + h4  { margin-top: 32px; }
p   + h5,
h6  + h5,
ul  + h5,
li  + h5  { margin-top: 28px; }
p   + p,
p   + h6,
h6  + h6,
ul  + h6,
li  + h6  { margin-top: 21px; }

h1,
h2,
h3,
h4,
h5,
h6,
p         { margin: 0 auto; padding: 0; text-align: center; }

a,
a:visited { color: #e5ceb8; text-decoration: none; cursor: pointer; }
a:hover,
a:active,
a:focus   { color: #99836d; }
/* ------------- text -------------- */

/* ------------- header -------------- */
header { width: 100%; height: 700px; margin: 0 auto; top: 70px; background-image: url(../img/sublime/bg.jpg); background-size: cover; background-position: center center; text-align: center; position: relative; }

header div:nth-child(1) div { max-width: 980px; min-width: 300px; margin: 0 auto; padding: 0; box-shadow: none; position: relative; }
header div:nth-child(1) { width: 100%; height: 70px; background: #fff; border-bottom: 1px solid #d5dde5; margin: 0 auto; padding: 0; top: 0; z-index: 10; position: fixed; }

header h1:nth-child(2) { color: #e5ceb8; top: 80px; z-index: 8; position: relative; }
header h1:nth-child(2) a:hover { color: #fff; }

header h5:nth-child(3) { color: #fff; top: 90px; z-index: 8; position: relative; }

header div:nth-child(4) { width: 980px; height: 100%; background: url(../img/sublime/header.png) no-repeat; background-position: bottom; margin: 0 auto; padding: 0px; top: -102px; position: relative; }

#ava { font: normal 50px/1.4em 'PTSerifBold', 'Times New Roman', serif; color: #c4b19e; text-align: left; margin: 0; padding: 0; left: 10px; z-index: 10; cursor: pointer; position: absolute; }

header div div:nth-child(1) a span.spanbaton { font-size: 14px; font-weight: normal; color: #fff; top: 19px; right: 10px; margin: 0; padding: 2px 15px; background: #c4b19e; display: inline-block; cursor: pointer; z-index: 10; position: absolute; }
header div div:nth-child(1) a span.spanbaton:hover,
#content .spanbaton:hover { background: #99836d; }
/* ------------- header -------------- */

/* ------------- content -------------- */
#wrapper { width: 980px; margin: 0 auto; padding: 0 10px; top: 70px; position: relative; }

#content { width: 100%; top: 53px; margin: 0 0 30px 0; padding: 0; float: left; position: relative; }
#content p { width: 800px; }
.spanbaton { font: normal 24px/2em 'Helvetica Neue', 'Arial', sans-serif; color: #fff; text-align: center; margin: 0; padding: 1px 15px; background: #c4b19e; border: 0; border-radius: 5px; outline: none; display: inline-block; cursor: pointer; }
#content .spanbaton { width: 350px; margin-left: -175px; padding: 0; left: 50%; background: #c4b19e; border: 0; border-radius: 5px; outline: none; display: block; cursor: pointer; position: absolute; }

.carousel { width: 966px; height: 800px; margin: 0 auto; padding: 0; overflow: hidden; position: relative; }
.carousel ul { width: 9999px; height: 719px; margin: 0 auto; padding: 0; list-style: none; cursor: pointer; position: relative; }
.carousel ul li { margin: 0 auto; padding: 0; list-style: none; float: left; cursor: pointer; position: relative; }
.carousel div { width: 80px; height: 10px; top: -170px; margin: 0 auto; padding: 0; position: relative; }
.carousel div > span { width: 6px; height: 6px; margin: 0 4px; padding: 2px; background-color: #fff; border: 1px solid #c4c4c4; border-radius: 50%; float: left; cursor: pointer; position: relative; }

img { margin: 0 auto; display: block; }

#page1 { background-color: #c4c4c4; }
/* ------------- content -------------- */

/* ------------- footer -------------- */
footer { width: 100%; top: 50px; padding: 50px 0; border-top: 1px #d5dde5 solid; clear: both; position: relative; }
footer p { font-size: 14px; text-align: left; }

div.yashare-auto-init.b-share_theme_counter { clear: left; margin-left: -3px; padding: 0 0 4px 0; }
.b-share-counter { line-height: 28px !important; text-align: right !important; float: none !important; margin: 3px 10px 3px 0px !important; display: block !important; }
.b-share_theme_counter .b-share-btn__wrap { margin-right: 5px !important; }
.b-share_theme_counter .b-share__handle { height: 34px !important; }
.b-share_theme_counter .b-share__link { width: 100px !important; border-radius: 5px !important;}
.b-share_theme_counter .b-share-icon { width: 38px !important; height: 34px !important; background-size: cover !important; background-image: url("http://strash.ru/img/assets/share_logotypes_spryte.png") !important; }
.b-share_theme_counter .b-share-icon_twitter { background-position:0 -34px !important;}
.b-share_theme_counter .b-share-icon_vkontakte { background-position:0 -68px !important;}
.b-share_theme_counter .b-share-icon_gplus { background-position:0 -102px !important;}
.b-share_theme_counter .b-share-btn__facebook { background-color: #3b5998 !important; }
.b-share_theme_counter .b-share-btn__twitter { background-color: #55acee !important; }
.b-share_theme_counter .b-share-btn__vkontakte { background-color: #4d75a3 !important; }
.b-share_theme_counter .b-share-btn__gplus { background-color: #cc3732 !important; }
.b-share_theme_counter .b-share-btn__facebook:hover { background-color: #5077cc !important; }
.b-share_theme_counter .b-share-btn__twitter:hover { background-color: #73c2ff !important; }
.b-share_theme_counter .b-share-btn__vkontakte:hover { background-color: #659ad6 !important; }
.b-share_theme_counter .b-share-btn__gplus:hover { background-color: #f75c57 !important; }
.b-share_theme_counter .b-share-btn__facebook:active { border-top: none !important; }
.b-share_theme_counter .b-share-btn__twitter:active { border-top: none !important; }
.b-share_theme_counter .b-share-btn__vkontakte:active { border-top: none !important; }
.b-share_theme_counter .b-share-btn__gplus:active { border-top: none !important; }
/* ------------- footer -------------- */

/* ------------- изинги -------------- */
.carousel ul {
  -webkit-transition: all 350ms cubic-bezier(0.8, 0.1, 0.2, 1.0);
     -moz-transition: all 350ms cubic-bezier(0.8, 0.1, 0.2, 1.0);
      -ms-transition: all 350ms cubic-bezier(0.8, 0.1, 0.2, 1.0);
       -o-transition: all 350ms cubic-bezier(0.8, 0.1, 0.2, 1.0);
          transition: all 350ms cubic-bezier(0.8, 0.1, 0.2, 1.0);
}
#ava,
.carousel div > span {
  -webkit-transition: all 200ms linear;
     -moz-transition: all 200ms linear;
      -ms-transition: all 200ms linear;
       -o-transition: all 200ms linear;
          transition: all 200ms linear;	
}
.spanbaton,
header h1:nth-child(2) a {
  -webkit-transition: all 150ms linear;
     -moz-transition: all 150ms linear;
      -ms-transition: all 150ms linear;
       -o-transition: all 150ms linear;
          transition: all 150ms linear;
}
.b-share_theme_counter .b-share-btn__facebook,
.b-share_theme_counter .b-share-btn__twitter,
.b-share_theme_counter .b-share-btn__vkontakte,
.b-share_theme_counter .b-share-btn__gplus {
  -webkit-transition: background-color 150ms linear;
     -moz-transition: background-color 150ms linear;
      -ms-transition: background-color 150ms linear;
       -o-transition: background-color 150ms linear;
          transition: background-color 150ms linear;
}
/* ------------- изинги -------------- */

/* ------------- media queries -------------- */
@media all and (orientation: portrait) and (max-width: 980px) {
  html,
  body { width: 100vw; }
}
@media all and (orientation: landscape) and (max-width: 1024px) {
  html,
  body { width: 100vw; }
}
@media all and (orientation: portrait) and (max-width: 320px) {
  html,
  body { width: 100vw; }
}
@media all and (orientation: landscape) and (max-width: 480px) {
  html,
  body { width: 100vw; }
}
/* ------------- media queries -------------- */